TextLibrary/WonKim.Text/WonKim.Web.Text.Search/PatternStringSearchResponse.xsd

<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WonKim.Web.Text.Search" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WonKim.Web.Text.Search" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="PatternStringSearchResponse">
		<xs:sequence>
			<xs:element minOccurs="0" name="ID" type="xs:string" />
			<xs:element minOccurs="0" name="Input" nillable="true" type="xs:string" />
			<xs:element minOccurs="0" name="InputSource" nillable="true" type="xs:string" />
			<xs:element minOccurs="0" name="MatchList" nillable="true" type="tns:ArrayOfPatternStringSearchMatch" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PatternStringSearchResponse" nillable="true" type="tns:PatternStringSearchResponse" />
	<xs:complexType name="ArrayOfPatternStringSearchMatch">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="PatternStringSearchMatch" nillable="true" type="tns:PatternStringSearchMatch" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfPatternStringSearchMatch" nillable="true" type="tns:ArrayOfPatternStringSearchMatch" />
	<xs:complexType name="PatternStringSearchMatch">
		<xs:sequence>
			<xs:element minOccurs="0" name="Pattern" nillable="true" type="xs:string" />
			<xs:element minOccurs="0" name="Position" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PatternStringSearchMatch" nillable="true" type="tns:PatternStringSearchMatch" />
</xs:schema>